/* Write your CSS here */
.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.heading {
  text-align: center;
  font-size: 25px;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
}

.searchIcon {
  height: 100%;
}

.inputContainer {
  display: flex;
  border-radius: 8px;
  border: none;
  height: 35px;
  background-color: #f1f5f9;
  justify-content: center;
  padding: 5px;
}

.searchContainer {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
